* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: 300;
    background-color:#e9e9e9; 
    color: #444;
    text-align: center;
    line-height: 1.5;
}


  /* nav bar section  */
.nav-bar{
    list-style-type: none;   
    overflow: hidden;
    position: fixed;  
    top: 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 4px 10px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    background-color: rgba(255,255,255,1);
}

.nav-title a{
    display: block;
    color: #6B5B95;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    float: left;
    font-weight: bold;
}
  
.nav-li a{
    color: black;
    float: right;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.nav-li a:hover {
    color: grey;
}
h1{
    color: #6B5B95;
}
  
.sec-sub {
    border: 1px solid #6B5B95;
    text-transform: uppercase;
    color: rgb(125, 114, 152);
    
}


section {
    min-height: 200px;
    padding: 6% 0;
    padding-bottom: 30px; 
}

  /* hero-section */

#hero, section{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color:white;
    padding: 24px;
    margin: 80px 30px 80px 30px;

  }




.button {
    background-color:#6B5B95;
    color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 3px 3px 0 rgba(0,0,0,0.19);
    padding: 20px;
    font-size: 16px;
}

.button:hover {
    background-color: rgb(233, 236, 238);
    color: black;
    
}

p{
    font-size: 18px;
    padding: 10px;
}

.sub-head{
    margin-bottom: 10px;
    display: bold;
}
.project-image { 
    width: 100%;
    border: 2px solid #6B5B95;
}

.project-image:hover{
    border: 1px solid #6B5B95;
}



.project-button{
    padding: 5px;
    font-size: 20px;

}

.sec-h3{
    float: left;
    margin-left: 1px;
}
.section-ul{
    height: 100%;
    border: 1px solid black;
}
  
.section2-ul{   
    padding: 20px;
    
}


.sec2-li{
    padding: 10px;
    display: inline-block;
    width: 50px;
    height: 50px;
}
  
.section2-icon {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    
}
    
 /* footer section */

  
.footer-ul{
    display: inline-block;
    margin: 0 10px;
}
  

.contact-icon {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

footer {
    padding: 2% 0;
    background-color:#6B5B95;
}
.footer-ul {
    list-style-type: none;
    
}

.foot-li {
    float: right;
    margin: 0 10px;
}



@media screen and (min-width: 300px){

    .sec2-li{
        margin-right: 0px;
        margin-left: 0px;
    }

    .third-li{
        margin-left:10px;
    }
    .button{
        padding: 10px;
    }

    



    
}

@media screen and (min-width: 730px){   
    .nav-bar{
        text-transform: uppercase;
    }
    h2{
      width: 50%;
      margin: auto;
    }

    .sec2-li{
        margin: 0 60px 10px 10px;
        display: inline-block;
    
    }

    .project-button{
        margin-left: 30px;
        padding: 10px;
    }

    .section2-ul{   
        padding-top: 30px;
    }

    .project-image{
        width: 50%;
    }
}
