  * {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Maven Pro; 
    background-image: url('background-image.jpg');
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  /* nav bar section  */
  a{
    color: black;
  }
  a:hover {
    color: grey;
  }
  
  nav,
  footer {
    padding: 1% 0;
    background-color: rgba(255,255,255,1);
  }

  nav {
    font-size: 16px;
    border-bottom: solid;
    display: inline-block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }

  /* hero-section */

  #hero, section{
    border: 2px solid black;
    background-color: rgba(255,255,255,0.8);
    padding: 20px;
    text-align: center;
    margin: 80px 40px 80px 40px;

  }

  button{
    color: black;
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    text-align: center;
  }
  

  ul {
    list-style-type: none;
    margin-right: 15px;
  }


  .chemistryquiz-image{
    border-radius: 8px;
  }

  p{
    padding: 10px;
  }

  h3{
    float: left;
    margin-left: 15px;
    
  }
  
  li {
    float: right;
    margin: 0 10px;
    
  }
  
  
  
  header {
    padding: 12% 0;
    margin-left: 20px;
    border-width: 0px;

  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
  }
  

  footer{
    border-top: solid;
  }
  
  .footer-ul{
    display: inline-block;
    margin: 0 10px;
    
  }

  .contact-icon {
    vertical-align: middle;
    width: 40px;
    height: 40px;
    margin: 0 20px;
}